* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*font-weight: bold;*/
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body.hide {
	overflow: hidden;
}
header	{
	/*margin: 0 auto;*/
	/*display: flex;*/
	/*align-items: center;*/
	/*text-align: center;*/
	/*border: 1px solid black;*/
	/*justify-content: center;*/
	margin-top: 50px;

}
body {
	/*height: 2000px;*/
	/*overflow: hidden;*/
}

h1 {
  padding: 0;
  line-height: 0;
}
a:link {
	color: black;
}
button:active, button:focus {
  outline: none !important;
}
.header {
	
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/*width: 100%;*/
	/*margin: 0 auto;*/
	/*border: 1px solid black;*/
}

.top-content {
  text-align: center;


}
.btn-check {
	background-color: #ff5c00;
	color: white;
	height: 40px;
	border-radius: 5px;
}
.btn-shoop {
	background: none;
	border: none;
	width: 40px;
	color: black;
}

.btn-top {
	height: 50%
}
.top-info {
	background-color: #ffd5d5;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

}
.top-wrap {
	text-align: center;
	display: flex;
	align-items: center;
}
#hrivna {
	width: 25px;
	margin-bottom: 10px;
}

.brend {
	margin: 0 auto;
	/*margin-top: -10px;*/
}
#description {
	/*margin-top: -20px;*/
	font-weight: 300;
	width: 100%;
}
.contacts {
	margin-top: -40px;
}
.social {
	width: 30px;
}
.social-wrap a{
	text-align: center;
	color: black;

}
.wrap {
	max-width: 1200px;
	margin: 0 auto;

}
.mobile-filter {
	display: none;
}
.menu {
	text-align: center;
}
.filter {
	display: flex;
	justify-content: space-around;

}
.menu select{
	font-size: 16px
}
.menu .filter {

}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.navbar-wrap {
	font-weight: 500;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #ffecec;
	
}
.top-wrap {
	display: flex;
	justify-content: space-between;
}
.container-menu {
	width: 50%;
	margin: 0 auto;
	display: flex;
}
.container-product {
	width: 80%;
	margin: 0 auto;
}
.background {
	
	border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active a {
	background-color: #ff7878
}
.navbar-inverse .navbar-brend {
	color: black;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}
.navbar-header a {
	color: black;
}
.navbar-toggle{
	display: none;
	background: transparent;
	border: none;
}
 li {
 	list-style-type: none;
 	cursor: pointer;
 }
.filter {
	/*display: flex;*/
	width: 70%;
	margin: 0 auto;
	font-weight: bold

}
.navbar-collapse, .navbar-header{
	float: left;
	color: black;
}


/*section with ptoduct items*/

.container-product {
	margin: 0 auto;
	width: 90%;
	max-width: 1150px;
	/*border: 1px solid black;*/
}
.product-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	
	/*margin: 0 auto;*/
	/*width: 1000px;*/
	/*border: 1px solid black;*/

}
.hidden {
	display: none;
}
#hidden {
	display: none;
}
.product-box__item {
	/*width: 24%;*/
	border: 0.1px solid black;
	/*text-align: center;*/
	display: flex;
	margin: 5px;
	flex-direction: column;
	margin-top: 5px;
	/*border-radius: 5px;*/
	/*align-items: center;*/
	transition: 0.3s
}

.product-box__item:hover {
		-webkit-box-shadow: 0px 14px 47px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 14px 47px 0px rgba(0,0,0,0.21);
box-shadow: 0px 14px 47px 0px rgba(0,0,0,0.21);
}
.product-wrap {
	text-align: center;
	display: flex;
	flex-direction: column;
	/*border: 1px solid black;*/
	height: 100%
	/*align-items: center;*/
	/*padding: 5px;*/
}
.product-box__title {
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #ffecec;
	width: 100%;
	text-align: center;
}
.product-box__img {
	position: relative;
	display: inline-block;
}
.img-fluid {
	/*border-radius: 5px;*/
	cursor: pointer;
}
.img-big {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    z-index: 20;
    display: none;
}
.text-inside {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

	/*border: 1px solid black*/
}
.inside-inside {
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	padding: 0 5px 0 5px;

}



/*section popup*/
.more {
	font-weight: bold
}
.more:hover {
	cursor: pointer;
	text-decoration: underline;
}
.show-more {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    display: flex;
    background-color: white;
    z-index: 10;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    display: none;
    z-index: 20;

}
.show-more img {
	width: 600px;
}
.show-more button {
	width: 30%;
	margin-top: 10px;
}
.composition-wrap {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	min-width: 400px;
	padding: 10px;;
}
.composition {
	text-align: left;
	margin-left: 5px;
	font-weight: lighter;
}
.composition p {
	font-weight: 500;
}
.sostav {
	display: flex;
	justify-content: space-between;
}
.sostav p {
	background-color: green;
	width: 80px;
	height: auto;
	color: white;
	border-radius: 5px;
	display: flex;
	align-items: center;
	border: 1px solid black;
	justify-content: space-around;
}

/*end of popup*/




.product-box__meta {
	display: flex;
	text-align: center;
	align-items: center;
	height: 100%;
	padding: 0 5px 0 5px

	/*border: 1px solid black;*/

}
.product-box__btn {
	height: 40px;
	display: flex;
	text-align: center;
	align-items: center;
	width: 40%;
	justify-content: space-around;
}
.price {
	position: absolute;
	background-color: green;
	color: white;
	width: 100px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .3 );
    z-index: 10;
    display: none;
}
/*end of section of product card*/



/*shoping cart section*/

.cart {
	position: fixed;
    top: 50%;
    left: 50%;
    border: 0.5px solid black;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 80%;
    display: flex;
    background-color: white;
    z-index: 10;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: center;*/
    /*text-align: center;*/
    margin: 0 auto;
    max-width: 1200px;
    display: none;
    z-index: 20;
	overflow: scroll;


}

.cart table {
	width: 50%;
	/*display: block;*/
	/*border: 1px solid black;*/
}
.cart .stick {
	width: 50%;
}
.tableclass{
	height: 40px;
	background-color: #ffecec;
}
.cart-wrap table {
	margin-top: 10px;
	margin-left: 10px;
	/*margin-right: 7px;*/
}
/*.cart-wrap .stick {
	width: 100%
}*/
.cart table td {
	/*height: 50px;*/
	text-align: center;
	border: .5px solid black;
}
.cart table tr button {
	height: 80%;
}
.cart-wrap {
	display: flex;
	font-size: 14px;
	font-weight: 400;

	/*flex-direction: column;*/
}
.stick {
	display: flex;
	/*justify-content: space-around;*/
	/*width: 50%;*/
	margin-top: 20px;
	/*width: %;*/
	/*border:1px solid black;*/
	/*height: 30px;*/
	/*display: flex;*/
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
.stick-wrap {
	display: inline-block;
	/*border:1px solid black;*/
	/*width: 0%;*/
	flex-direction: column;
	justify-content: center;
}
.stick-wrap img {
	width: 20%;
}
.stick-wrap p {
	margin-right: 10px;

}
.stick-input {
	height: 25px;
	width: 50px;
	text-align: center;
}
.checkbox {
	/*margin-left: 5px;*/

}
#stickChek {
	border: 1px
	margin-top: -5px;
}
.extra {
	width: 70%;
	margin: 0 auto;
}
.extra label {
	float: left;
}
.extra input {
	float: right;
	width: 50px;
	text-align: center;
}
.stick button {
	width: 100px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 5%;
}
input {
	border: 1px solid black;
}

/*section modal window */

.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    display: none;
    text-align: center;
    border-radius: 3px;
    z-index: 20;
}
#closeButton {
    width: 30px;
    margin-left: auto;
    margin-right: 1em;

}
.nameInput {
    height: 30px;
    width: 200px;
    margin: 0 auto;
    border-color: black;
    border-width: 1px;
    outline: none;
    border-radius: 3px;
}
.btn-send {
	width: 50%;
	height: 10%;
	margin-bottom: 10px;
}

.overlay{
	/*position: absolute;*/
}
#btn-cancel {
	background-color: grey;
	margin-top: -15px;
}

/*adaptation section*/
@media (max-width: 1100px){
	.show-more {flex-direction: column;}
	.product-row {
		display: grid;
		grid-template-columns: 1fr 1fr;
  		grid-template-rows: 1fr 1fr;
  		justify-items: center;
  		align-items: center;
	}
	.product-box__item {
		max-height: 500px;
		/*width: 100%*/
	}
	
}
@media (max-width: 500px) {
  .more {position: absolute; bottom: 10%; left: 55%}
  .mobile-filter {display: inline-block; width: 50%; }
  .bnt-shop {width: 5%}
  .btn-top {font-size: 14px; line-height: 15px}
  .top-info {max-height: 10%}
  .top-content:first-child {width: 70%}
  .filter {display: none; transition-delay: 1s}
  .instagram {margin-bottom: 20px; margin-top: -20px;}
  .contacts {margin-top: 5px;}
  .navbar-toggle {display: inline-block;}
  .brend h1{font-size: 30px; width: 100%;}
  .product-wrap {padding: 0; height: 100%;}
  .container-product {margin-right: 10px}
  .product-row {display: flex; width: 95%; margin: 0 auto; flex-direction: column;}
  .product-box__item { margin-top: 10px; max-height: 200px; position: relative;}
  .product-box__img {max-width: 50%; min-width: 50%}
  /*.img-fluid {width: 100%;}*/
  .product-wrap {display: flex; flex-direction: row;  }
  #buy {display: none;}
  .product-box__meta {height: 200%; padding: 0;}
  .text-inside {text-align: left;  height: auto; line-height: 13px;  align-items: center;}
  .container-product {margin: 0;width: 100%}
  .price {position: absolute; float: left; }
  .product-box__btn {min-width: 40px; width: 60px; float: right;}
  .mobile-name { width: 100%; background-color:  #ffecec; font-size: 17px;line-height: 20px;}
  .inside-inside {display: flex; font-size: 13px; font-weight: 400; margin: 0; height: ;}
  /*.more {margin-top: -10px;}*/
  /*.more1 {display: none; }*/
  .inside-inside {margin-top: -10px;}
  .show-more {width: 75%}
  .show-more img {width: 100%}
  .composition-wrap {width: 100%; min-width: 0; font-size: 14px; line-height: 15px}
  .composition {min-width: 0}
  .sostav h3 {font-size: 20px;}
  .show-more button {width: 120px;}
  .top-wrap {display: flex;}
  .cart table {width: 90%;}
  .cart-wrap {flex-direction: column; width: 100%;}
  .cart-wrap .stick {width: 100%}
  .stick { width: 500px; margin: 0 auto; padding: 0 }
  .stick-wrap {margin-top: 15px;}
  .extra {width: 95%;}
    /*.product-box__item {max-height: 200px;}*/
}
@media (max-width: 350px) {
	.btn-top{font-size: 12px}
	.product-box__img {max-width: 150px; min-width: 150px}
	.inside-inside {max-height: 57px; overflow: hidden; max-width: 142px}
	/*.text-inside {max-width: 142px}*/
	.top-content {font-size: 13px; margin-top: 3px;}
}